#slider {
    width: 90%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: absolute;
}

.slide{
    float: left;
    position: relative;
    width:100%;
    height: 500px;
}

.slide img{
    width: 100%;
    height: 500px;
}

body{
    background-color: white;
    margin: 0;
    font-family: verdana;

}

#header{
    display: inline-block;
    width:100%;
}

#header > #leftHeader {
    width:19%;
    float:left;
}

#header > #rightHeader {
    width:80%;
    float:right;
}

#container{
    margin:20px 20px 80px 20px;
}

#container ul li{
    list-style: none;
    display:inline-block;
    font-size: 24px;
    color:#006699;
    padding-right: 5%;
}

#binus{
    background-color: #006699;
    font-size:20px;
    display:inline-block;
    width:30%;
    padding:20px;
    margin-left:20px;
    color:white;
    text-align: justify;
}

#term{
    width:40%;
    padding:20px;
    margin-left:20px;
    display: inline-block;
    text-align: left;
}

a:visited{
    color:#006699;
    text-decoration: none;
}

a:hover{
    color:white;
    background-color: #006699;
}

a{
    color:#006699;
    text-decoration: none;
}

#eror{
    color:red;
    font-size:30px;
}

#discuss1{
    width:49%;
    display:inline-block;
    color:#006699;
}

#discuss2{
    width:49%;
    display:inline-block;
    color:#006699;
}

#judul{
    text-align: center;
    font-size:40px;
    font-weight: bold;
}

#subjudul{
    font-size:25px;
    font-weight: bold;
}

#contain1{
    background-color: #e6e6e6;
    padding:1%;
}

#contain2{
    background-color: #e6e6e6;
    padding:1%;
}

#subcontain1{
    background-color: white;
    border-radius: 5px;
    margin:5px;
}

#subcontain2{
    background-color: white;
    border-radius: 5px;
    margin:5px;
}


#courseLeft{
    width:20%;
    margin-right:5%;
    display:inline-block;
}

#courseCenter{
    width:49%;
    display:inline-block;
}

#courseMain{
    border-radius: 5px;
    background-color:#e6e6e6;
    padding:7px;
}

#courseRight{

    margin-left:5%;
    width:20%;
    float:right;
    display:inline-block;
}


#course1{
    margin-bottom: 3%;
}
#course3{
    margin-bottom: 3%;
}


@media only screen and(max-width:500px){
    #slider {
        width: 90%;
        height: 500px;
        overflow: hidden;
        position: relative;
    }

    .slides{
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: absolute;
    }

    .slide{
        float: left;
        position: relative;
        width:100%;
        height: 500px;
    }

    .slide img{
        width: 100%;
        height: 500px;
    }

    body{
        background-color: white;
        margin: 0;
        font-family: verdana;

    }

    #header{
        height:200px;
        width:100%;
        margin-bottom: 30px;
    }

    #container{
        margin:20px 20px 80px 20px;
    }

    #container ul li{
        list-style: none;
        display:inline-block;
        font-size: 24px;
        color:#006699;
        padding-right: 5%;
    }
}